/* ----------------------- Google Fonts -------------------- */
@font-face {
    font-family: 'Cookie-Regular';
    src: url('/fonts/Cookie-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('/fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Queries for Laptop */
*,
::after::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Cookie-Regular';
    font-size: 3rem;

}

nav {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: teal;
    transition: .4s;
    padding: 1.5rem 0;
    margin-top: -0.5rem;
}

p {
    font-family: 'Merriweather-Regular';
}

.main-nav {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: 'Merriweather-Regular';
}

.navbar a {
    color: white;
    font-family: 'Merriweather-Regular';
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Cookie-Regular';
}

.navbar {
    display: flex;
}

.menu-item {
    padding: 0 5px;
}

.menu-link {
    font-size: 1rem;
    padding: 0 0.5rem;
    font-weight: 300;
}

.content {
    justify-content: center;
    align-items: center;
}

#home {
    padding-top: 100px;
}

/* CSS Header Sticky */
nav.header-sticky {
    position: fixed;
    z-index: 2000;
    transition: .4s;
}

/* Slideshow CSS */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: .5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Queries for Tablet View */
@media screen and (min-width: 480px) {}

/* Queries for Mobile View */
@media screen and (max-width: 480px) {}